.avatar {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: Poppins;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
